# Tutorial: Cleaning and Wrangling Data

This worksheet covers the [Cleaning and wrangling data](https://datasciencebook.ca/wrangling.html) chapter of the online textbook, which also lists the learning objectives for this worksheet. You should read the textbook chapter before attempting this worksheet.

In [ ]:
### Run this cell before continuing. 
library(repr)
library(tidyverse)
source("cleanup.R")
options(repr.matrix.max.rows = 6) #limits output of dataframes to 6 rows

**Question 0.1** 
<br> {points: 1}

Match the following definitions with the corresponding functions used in R:

A. Transforms the input by applying a function to each element and returning a vector the same length as the input.

B. Reads files that have columns separated by tabs. 

C. Most data operations are done on groups defined by variables. This function takes an existing data set and converts it into a grouped data set where operations are performed "by group". 

D. Works in an analogous way to mutate, except instead of adding columns to an existing data frame, it creates a new data frame.

E. "lengthens" data, increasing the number of rows and decreasing the number of columns.

F. Labels the x-axis. 


*Functions*

1. `group_by`
2. `map`
3. `read_tsv`
4. `summarise`
5. `xlab`
6. `pivot_longer`

For every description, create an object using the letter associated with the definition and assign it to the corresponding number from the list of functions. For example: 
```
A <- 1
B <- 2
C <- 3
...
F <- 6
```

In [ ]:
# Replace the fail() with your answer. 

# your code here
fail() # No Answer - remove if you provide an answer

In [ ]:
library(digest)
stopifnot("type of A is not numeric"= setequal(digest(paste(toString(class(A)), "e8756")), "4f3d5cffe07acdf173387725e4f08dcf"))
stopifnot("value of A is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(A, 2)), "e8756")), "b4b556abc9a04498c66ad9ae2ee600ec"))
stopifnot("length of A is not correct"= setequal(digest(paste(toString(length(A)), "e8756")), "0e0dbda4fa7df509121cb4d7de2e21ec"))
stopifnot("values of A are not correct"= setequal(digest(paste(toString(sort(round(A, 2))), "e8756")), "b4b556abc9a04498c66ad9ae2ee600ec"))

stopifnot("type of B is not numeric"= setequal(digest(paste(toString(class(B)), "e8757")), "429a02725513a891e7fb6fc0437d9d2e"))
stopifnot("value of B is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(B, 2)), "e8757")), "cc4690ff3c2b9cbf11e142e335d94306"))
stopifnot("length of B is not correct"= setequal(digest(paste(toString(length(B)), "e8757")), "8708a417e7584bff0e260ffa72384309"))
stopifnot("values of B are not correct"= setequal(digest(paste(toString(sort(round(B, 2))), "e8757")), "cc4690ff3c2b9cbf11e142e335d94306"))

stopifnot("type of C is not numeric"= setequal(digest(paste(toString(class(C)), "e8758")), "581457b210c0937f5379af270394e22b"))
stopifnot("value of C is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(C, 2)), "e8758")), "5f7227da558f9d8d0d353cc80d8254dd"))
stopifnot("length of C is not correct"= setequal(digest(paste(toString(length(C)), "e8758")), "5f7227da558f9d8d0d353cc80d8254dd"))
stopifnot("values of C are not correct"= setequal(digest(paste(toString(sort(round(C, 2))), "e8758")), "5f7227da558f9d8d0d353cc80d8254dd"))

stopifnot("type of D is not numeric"= setequal(digest(paste(toString(class(D)), "e8759")), "a59b5c0b6facf510c0749c511363f5ef"))
stopifnot("value of D is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(D, 2)), "e8759")), "ff09bd4e0a4f7245b0dad7609faf2050"))
stopifnot("length of D is not correct"= setequal(digest(paste(toString(length(D)), "e8759")), "ca7306d405e881547cb23899fb6647af"))
stopifnot("values of D are not correct"= setequal(digest(paste(toString(sort(round(D, 2))), "e8759")), "ff09bd4e0a4f7245b0dad7609faf2050"))

stopifnot("type of E is not numeric"= setequal(digest(paste(toString(class(E)), "e875a")), "97936fe9a83ce14e71ccb23f38660197"))
stopifnot("value of E is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(E, 2)), "e875a")), "18ba5aa4fad2986e18f522546dc957bb"))
stopifnot("length of E is not correct"= setequal(digest(paste(toString(length(E)), "e875a")), "97463bd9b1c9bc03d2d78837d19dfabb"))
stopifnot("values of E are not correct"= setequal(digest(paste(toString(sort(round(E, 2))), "e875a")), "18ba5aa4fad2986e18f522546dc957bb"))

stopifnot("type of F is not numeric"= setequal(digest(paste(toString(class(F)), "e875b")), "2dd1f324b4618ad5f0b329de4df2e296"))
stopifnot("value of F is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(F, 2)), "e875b")), "3bb5bd0c5aa23f5ea189fbd928325d11"))
stopifnot("length of F is not correct"= setequal(digest(paste(toString(length(F)), "e875b")), "e0427343d2abd635a90f6650f64488d0"))
stopifnot("values of F are not correct"= setequal(digest(paste(toString(sort(round(F, 2))), "e875b")), "3bb5bd0c5aa23f5ea189fbd928325d11"))

print('Success!')

## 1. Historical Data on Avocado Prices 
In the tutorial, we will be finishing off our analysis of the avocado data set. 

You might recall from the lecture that millennials LOVE avocado toast. However, avocados are expensive and this is costing millennials a lot more than you think (joking again ðŸ˜‰, well mostly...). To ensure that they can save enough to buy a house, it would be beneficial for an avocado fanatic to move to a city with low avocado prices. From Worksheet 3 we saw that the price of the avocados is less in the months between December and May, but we still don't know which region contains the cheapest avocados. 

<img align="left" src="https://media.giphy.com/media/8p3ylHVA2ZOIo/giphy.gif" width="200"/>

*image source: https://media.giphy.com/media/8p3ylHVA2ZOIo/giphy.gif*


As a reminder, here are some relevant columns in the dataset:

- `average_price` - The average price of a single avocado.
- `type` - conventional or organic
- `year` - The year
- `region` - The city or region of the observation
- `small_hass_volume`	
- `large_hass_volume`	
- `extra_l_hass_volume`	

Additionally, the last three columns can be used to calculate `total_volume` in pounds (lbs). The goal for today is to find the region with the cheapest avocados and then produce a plot of the total number of avocados sold against the average price per avocado **(in US dollars)** for that region. To do this, you will follow the steps below. 

1. use a tidyverse `read_*` function to load the csv file into your notebook
2. use `group_by + summarize` to find the region with the cheapest avocados. 
3. use `filter` to specifically look at data from the region of interest. 
4. use `mutate` to add up the volume for all types of avocados (small, large, and extra)
5. use `ggplot` to create our plot of volume vs average price

**Question 1.1** 
<br> {points: 1}

Read the file `avocado_prices.csv` found in the `tutorial_03` directory using a relative path. 

*Assign your answer to an object called `avocado`.*

In [ ]:
# your code here
fail() # No Answer - remove if you provide an answer
avocado

In [ ]:
library(digest)
stopifnot("avocado should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(avocado)), "24ec9")), "09eab234a51342fdd76767e5519457f4"))
stopifnot("dimensions of avocado are not correct"= setequal(digest(paste(toString(dim(avocado)), "24ec9")), "daaa90002aefdd5c0a463d22d0e27c18"))
stopifnot("column names of avocado are not correct"= setequal(digest(paste(toString(sort(colnames(avocado))), "24ec9")), "b1eea4fb71b7a5a30a59ab4f17fafb79"))
stopifnot("types of columns in avocado are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(avocado, class)))), "24ec9")), "0c6506f109d785bc723168fd56c53389"))
stopifnot("values in one or more numerical columns in avocado are not correct"= setequal(digest(paste(toString(if (any(sapply(avocado, is.numeric))) sort(round(sapply(avocado[, sapply(avocado, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "24ec9")), "041cba0433b24384755ec2112ebc2d97"))
stopifnot("values in one or more character columns in avocado are not correct"= setequal(digest(paste(toString(if (any(sapply(avocado, is.character))) sum(sapply(avocado[sapply(avocado, is.character)], function(x) length(unique(x)))) else 0), "24ec9")), "eccdfaf3d45fa5df77ea1220b59f16f7"))
stopifnot("values in one or more factor columns in avocado are not correct"= setequal(digest(paste(toString(if (any(sapply(avocado, is.factor))) sum(sapply(avocado[, sapply(avocado, is.factor)], function(col) length(unique(col)))) else 0), "24ec9")), "76db024211e8c0cf46f7248a8b4a1c9e"))

print('Success!')

**Question 1.2** 
<br> {points: 1}

Now find the region with the cheapest avocados in 2018. To do this, calculate the average price for each region. Your answer should be the row from a data frame with the lowest average price. The data frame you create should have two columns, one named `region` that has the region, and the other named `avg_price` that contains the average price for that region.

*Assign your answer to an object called `cheapest`.*

> Hint:  You can use the function `slice` to provide a row index (or range of row indices) to numerically subset rows from a data frame. For example, to subset the 5th row of a data frame you would type: 
>
>```
>dataframe |> 
>    slice(5)
>```

In [ ]:
#... <- ... |>
#    ... |>
#    group_by(...) |>
#    summarize(...) |>
#    arrange(...) |> 
#    slice(...)

# your code here
fail() # No Answer - remove if you provide an answer
cheapest

In [ ]:
library(digest)
stopifnot("cheapest should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(cheapest)), "d73a")), "8dded9bf80caa0830af77312e93493b3"))
stopifnot("dimensions of cheapest are not correct"= setequal(digest(paste(toString(dim(cheapest)), "d73a")), "af1be0d59ee8fdb265a255196976930b"))
stopifnot("column names of cheapest are not correct"= setequal(digest(paste(toString(sort(colnames(cheapest))), "d73a")), "2ea40be0a26bafb68bb1abed2f1c79d3"))
stopifnot("types of columns in cheapest are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(cheapest, class)))), "d73a")), "0605ed6a7769efed8f869d946b550aa6"))
stopifnot("values in one or more numerical columns in cheapest are not correct"= setequal(digest(paste(toString(if (any(sapply(cheapest, is.numeric))) sort(round(sapply(cheapest[, sapply(cheapest, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "d73a")), "48637dc43f983a5af1e6f9bfa408d788"))
stopifnot("values in one or more character columns in cheapest are not correct"= setequal(digest(paste(toString(if (any(sapply(cheapest, is.character))) sum(sapply(cheapest[sapply(cheapest, is.character)], function(x) length(unique(x)))) else 0), "d73a")), "0874159eb85697868dd1a81194140c5e"))
stopifnot("values in one or more factor columns in cheapest are not correct"= setequal(digest(paste(toString(if (any(sapply(cheapest, is.factor))) sum(sapply(cheapest[, sapply(cheapest, is.factor)], function(col) length(unique(col)))) else 0), "d73a")), "c41aa48a732f7c379093c88523f8d1bd"))

print('Success!')

**Question 1.3**
<br> {points: 1}

Now we will plot the total volume against average price for the cheapest region and all years. First, you need to mutate the data frame such that `total_volume` is equal to the addition of all three volume columns. Next, filter the dataset using the cheapest region found in **Question 1.2**. Finally, you will have the data necessary to create a scatter plot with: 

- x = `total_volume` 
- y = `average_price`

Fill in the `...` in the cell below. Copy and paste your finished answer and replace the `fail()`. We will be scaling the axes - the function is added in the scaffolding for you. 

*Assign your answer to an object called `avocado_plot`.* 

> Hint: Do not forget units on your data visualization! Here the price is in US dollars (USD) and the volume in pounds (lbs).

In [ ]:
options(repr.plot.width = 8, repr.plot.height = 7)

#... <- ... |>
#     mutate(...) |>
#     filter(region == ...) |>
#     ggplot(aes(x = ..., y = ...)) + 
#         ... + 
#         xlab(...) +
#         ylab(...) +
#         scale_x_log10()

# your code here
fail() # No Answer - remove if you provide an answer
avocado_plot

In [ ]:
library(digest)
stopifnot("type of plot is not correct (if you are using two types of geoms, try flipping the order of the geom objects!)"= setequal(digest(paste(toString(sapply(seq_len(length(avocado_plot$layers)), function(i) {c(class(avocado_plot$layers[[i]]$geom))[1]})), "5c8bb")), "e118d12103de317c44b7656d4bc0f2c3"))
stopifnot("variable x is not correct"= setequal(digest(paste(toString(unlist(lapply(sapply(seq_len(length(avocado_plot$layers)), function(i) {rlang::get_expr(c(avocado_plot$layers[[i]]$mapping, avocado_plot$mapping)$x)}), as.character))), "5c8bb")), "a1ca4351e28aa928768991e9096a75cf"))
stopifnot("variable y is not correct"= setequal(digest(paste(toString(unlist(lapply(sapply(seq_len(length(avocado_plot$layers)), function(i) {rlang::get_expr(c(avocado_plot$layers[[i]]$mapping, avocado_plot$mapping)$y)}), as.character))), "5c8bb")), "5dbc3417768e25e04da6a26ca76985e8"))
stopifnot("x-axis label is not descriptive, nicely formatted, or human readable"= setequal(digest(paste(toString(rlang::get_expr(c(avocado_plot$layers[[1]]$mapping, avocado_plot$mapping)$x)!= avocado_plot$labels$x), "5c8bb")), "ec0c32f10a4cf8f3fa696718b93620ad"))
stopifnot("y-axis label is not descriptive, nicely formatted, or human readable"= setequal(digest(paste(toString(rlang::get_expr(c(avocado_plot$layers[[1]]$mapping, avocado_plot$mapping)$y)!= avocado_plot$labels$y), "5c8bb")), "ec0c32f10a4cf8f3fa696718b93620ad"))
stopifnot("incorrect colour variable in avocado_plot, specify a correct one if required"= setequal(digest(paste(toString(rlang::get_expr(c(avocado_plot$layers[[1]]$mapping, avocado_plot$mapping)$colour)), "5c8bb")), "22e23e50c4aa0f58467973292c6a402c"))
stopifnot("incorrect shape variable in avocado_plot, specify a correct one if required"= setequal(digest(paste(toString(rlang::get_expr(c(avocado_plot$layers[[1]]$mapping, avocado_plot$mapping)$shape)), "5c8bb")), "22e23e50c4aa0f58467973292c6a402c"))
stopifnot("the colour label in avocado_plot is not descriptive, nicely formatted, or human readable"= setequal(digest(paste(toString(rlang::get_expr(c(avocado_plot$layers[[1]]$mapping, avocado_plot$mapping)$colour) != avocado_plot$labels$colour), "5c8bb")), "22e23e50c4aa0f58467973292c6a402c"))
stopifnot("the shape label in avocado_plot is not descriptive, nicely formatted, or human readable"= setequal(digest(paste(toString(rlang::get_expr(c(avocado_plot$layers[[1]]$mapping, avocado_plot$mapping)$colour) != avocado_plot$labels$shape), "5c8bb")), "22e23e50c4aa0f58467973292c6a402c"))
stopifnot("fill variable in avocado_plot is not correct"= setequal(digest(paste(toString(quo_name(avocado_plot$mapping$fill)), "5c8bb")), "e0f8173d98ff1fbb3f3d800254d155ab"))
stopifnot("fill label in avocado_plot is not informative"= setequal(digest(paste(toString((quo_name(avocado_plot$mapping$fill) != avocado_plot$labels$fill)), "5c8bb")), "22e23e50c4aa0f58467973292c6a402c"))
stopifnot("position argument in avocado_plot is not correct"= setequal(digest(paste(toString(class(avocado_plot$layers[[1]]$position)[1]), "5c8bb")), "6c1407e202de79a193cbc1e63fac2a2d"))

stopifnot("avocado_plot$data should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(avocado_plot$data)), "5c8bc")), "cd7f688692f8f7dfdb23c40f62526de0"))
stopifnot("dimensions of avocado_plot$data are not correct"= setequal(digest(paste(toString(dim(avocado_plot$data)), "5c8bc")), "294848e0ca5ced8f57778f03bb557e36"))
stopifnot("column names of avocado_plot$data are not correct"= setequal(digest(paste(toString(sort(colnames(avocado_plot$data))), "5c8bc")), "dc407b340f544e408e334a4bfd515980"))
stopifnot("types of columns in avocado_plot$data are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(avocado_plot$data, class)))), "5c8bc")), "3e4e4367298215a6ccccc20a1830b359"))
stopifnot("values in one or more numerical columns in avocado_plot$data are not correct"= setequal(digest(paste(toString(if (any(sapply(avocado_plot$data, is.numeric))) sort(round(sapply(avocado_plot$data[, sapply(avocado_plot$data, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "5c8bc")), "c3f8438a5da1f388adbbb59420377c29"))
stopifnot("values in one or more character columns in avocado_plot$data are not correct"= setequal(digest(paste(toString(if (any(sapply(avocado_plot$data, is.character))) sum(sapply(avocado_plot$data[sapply(avocado_plot$data, is.character)], function(x) length(unique(x)))) else 0), "5c8bc")), "7a261bae5d65def5a51a0f74c70c8d3d"))
stopifnot("values in one or more factor columns in avocado_plot$data are not correct"= setequal(digest(paste(toString(if (any(sapply(avocado_plot$data, is.factor))) sum(sapply(avocado_plot$data[, sapply(avocado_plot$data, is.factor)], function(col) length(unique(col)))) else 0), "5c8bc")), "be77bcc2216b2eff72fa2f0484c35f18"))

print('Success!')

**Question 1.4** 

What do you notice? Discuss your plot with the person next to you.

To further investigate this trend, let's colour the data points to see if the type of avocado (either organic or not, which is called conventional in this data set) affects the volume and price of avocados sold in our region of interest. 

Run the cell below to colour the data points by avocado type.

In [ ]:
#run this cell to set plot width/height
#change the numbers below if the plot doesn't fit on your screen and run again!

options(repr.plot.width = 8, repr.plot.height = 6)

In [ ]:
# Run this cell to see if avocado type (the type variable) plays a role in production and price. 

avocado_plot <- avocado_plot + 
    geom_point(aes(colour = type)) +
    theme(text = element_text(size = 20))
avocado_plot

**Question 1.4 (Continued)**
<br> {points: 3}

In 2-3 sentences, describe what you see in the graph above. Comment specifically on whether there is any evidence/indication that avocado type might influence price? 

*Hint: Make sure to include information about volume, average price, and avocado type in your answer.*

DOUBLE CLICK TO EDIT **THIS CELL** AND REPLACE THIS TEXT WITH YOUR ANSWER.

## 2. Historical Data on Avocado Prices (Continued)
**Question 2.1**
<br> {points: 3}

Now that we know the region that sold the cheapest avocados (on average) in 2018, which region sold the most expensive avocados (on average) in 2018? And for that region, what role might avocado type play in sales? Repeat the analysis you did above, but now apply it to investigate the region which sold the most expensive avocados (on average) in 2018. 

Remember: we are finding the region that sold the most expensive avocados *in 2018*, but then producing a scatter plot of average price versus total volume sold *for all years*.

Name your plot object `priciest_plot`.

In [ ]:
# your code here
fail() # No Answer - remove if you provide an answer

In [ ]:
# Most of the tests for this question are hidden. You have to decide whether you've created the right object. 
# Heres one test to at least ensure you named the object correctly:
library(digest)
stopifnot("type of exists('priciest_plot') is not logical"= setequal(digest(paste(toString(class(exists('priciest_plot'))), "2b8d7")), "da15c420001565e63e0f72008f97d876"))
stopifnot("logical value of exists('priciest_plot') is not correct"= setequal(digest(paste(toString(exists('priciest_plot')), "2b8d7")), "a6d91c88abc16d6a5ff914ca63f21e7f"))

print('Success!')

**Question 2.2**
<br> {points: 3}

In 2-3 sentences, describe what you see in the graph above for the region with the most expensive avocados (on average). Comment specifically on whether there is any evidence/indication that avocado type might influence price.

Hint: Make sure to include information about volume, average price, and avocado type in your answer.

DOUBLE CLICK TO EDIT **THIS CELL** AND REPLACE THIS TEXT WITH YOUR ANSWER.

**Question 2.3**
<br> {points: 3}

Plot the scatterplots for the two regions so that they are in adjacent cells (so it is easier for you to compare them). Compare the price and volume data across the two regions. Then argue for or against the following hypothesis:

"*the region that has the cheapest avocados has them because it sells less of the organic (expensive) type of avocados compared to conventional cheaper ones.*"

In [ ]:
# You can put your scatter plot code in this cell!

Write about your comparison and argument in this cell!

DOUBLE CLICK TO EDIT **THIS CELL** AND REPLACE THIS TEXT WITH YOUR ANSWER.

## 3. Sea Surface Salinity in Departure Bay
As mentioned in this week's Worksheet, Canada's Department of Fisheries and Oceans (DFO) compiled environmentally essential data from 1914 to 2018. The data was collected at the Pacific Biological Station (Departure Bay). Daily sea surface temperature (degrees Celsius) and salinity (practical salinity units, PSU)observations have been carried out at several locations on the coast of British Columbia. The number of stations reporting at any given time has varied as sampling has been discontinued at some stations, and started or resumed at others.

In **Worksheet 3** we already worked with the temperature observations. Now, we will be focusing on salinity! Specifically, we want to see if the monthly maximum salinity has been changing over the years. We will only be focusing our attention on the winter months December, January and February.

**Question 3.1**
<br> {points: 1}

To begin working with this data, read the file `max_salinity.csv` into R. Note, this file (just like the avocado data set) is found within the `tutorial_03` folder. 

*Assign your answer to an object called `sea_surface`.*

In [ ]:
# your code here
fail() # No Answer - remove if you provide an answer
sea_surface

In [ ]:
library(digest)
stopifnot("sea_surface should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(sea_surface)), "8a2fb")), "f684d7ab132d9b7c935117944671f154"))
stopifnot("dimensions of sea_surface are not correct"= setequal(digest(paste(toString(dim(sea_surface)), "8a2fb")), "12ce3503fa9898e3a631e42059be8f13"))
stopifnot("column names of sea_surface are not correct"= setequal(digest(paste(toString(sort(colnames(sea_surface))), "8a2fb")), "829375d3dd99e931e92fe9be4e2da2ff"))
stopifnot("types of columns in sea_surface are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(sea_surface, class)))), "8a2fb")), "813e700b98bb61995be8e16700a6cc42"))
stopifnot("values in one or more numerical columns in sea_surface are not correct"= setequal(digest(paste(toString(if (any(sapply(sea_surface, is.numeric))) sort(round(sapply(sea_surface[, sapply(sea_surface, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "8a2fb")), "b6faec223df31655c941d2fd7b033397"))
stopifnot("values in one or more character columns in sea_surface are not correct"= setequal(digest(paste(toString(if (any(sapply(sea_surface, is.character))) sum(sapply(sea_surface[sapply(sea_surface, is.character)], function(x) length(unique(x)))) else 0), "8a2fb")), "dde88f5bf12580785cfad90783fe60b9"))
stopifnot("values in one or more factor columns in sea_surface are not correct"= setequal(digest(paste(toString(if (any(sapply(sea_surface, is.factor))) sum(sapply(sea_surface[, sapply(sea_surface, is.factor)], function(col) length(unique(col)))) else 0), "8a2fb")), "dde88f5bf12580785cfad90783fe60b9"))

print('Success!')

**Question 3.2**
<br> {points: 3}

Given that `ggplot` prefers tidy data, we must tidy the data! Use the `pivot_longer()` function to create a tidy data frame with three columns: `Year`, `Month` and `Salinity`. Remember we only want to look at the winter months (December, January and February) so don't forget to reduce the data to just those three!

*Assign your answer to an object called `max_salinity`.*

In [ ]:
#... <- sea_surface |>
#    ...(...) |>
#    ...(cols = -Year,
#                 names_to = '...',
#                 values_to = '...') 

# your code here
fail() # No Answer - remove if you provide an answer
max_salinity

In [ ]:
# Most of the tests for this question are hidden. You have to decide whether you've created the right object. 
# Heres one test to at least ensure you named the object correctly:
library(digest)
stopifnot("type of exists('max_salinity') is not logical"= setequal(digest(paste(toString(class(exists('max_salinity'))), "69e6a")), "3cc29ee6bf243e695a82e9c2ced465ec"))
stopifnot("logical value of exists('max_salinity') is not correct"= setequal(digest(paste(toString(exists('max_salinity')), "69e6a")), "4db765c2dc3a041c220591d152f3959d"))

print('Success!')

**Question 3.3** 
<br> {points: 3}

Now that we've created new columns, we can finally create our plot that compares the maximum salinity observations to the year they were recorded. As usual, label your axes!

*Assign your answer to an object called `max_salinity_plot`.*

> Hint: do not forget to add units to your axes! Remember from the data description that salinity is measured in practical salinity units (PSU).

In [ ]:
# your code here
fail() # No Answer - remove if you provide an answer
max_salinity_plot

In [ ]:
library(digest)
stopifnot("type of exists('max_salinity_plot') is not logical"= setequal(digest(paste(toString(class(exists('max_salinity_plot'))), "1a2e1")), "890d723fb513c19413b75e978009c743"))
stopifnot("logical value of exists('max_salinity_plot') is not correct"= setequal(digest(paste(toString(exists('max_salinity_plot')), "1a2e1")), "b8fde7c2f452e6b1cecec0bcb3d352d5"))

stopifnot("type of max_salinity_plot$labels$x != 'Year' is not logical"= setequal(digest(paste(toString(class(max_salinity_plot$labels$x != 'Year')), "1a2e2")), "9cc440ef86887a2fc1a5f6b2618229d0"))
stopifnot("logical value of max_salinity_plot$labels$x != 'Year' is not correct"= setequal(digest(paste(toString(max_salinity_plot$labels$x != 'Year'), "1a2e2")), "4a6566d1f46452eb0fa4a39c165eee34"))

print('Success!')

**Question 3.4**
<br> {points: 3}

In 1-2 sentences, describe what you see in the graph above. Comment specifically on whether there is a change in salinity across time for the winter months and if there is, whether this indicates a postive or a negative relationship for these variables within this data set. If there is a relationship, also comment on its strength and linearity.

DOUBLE CLICK TO EDIT **THIS CELL** AND REPLACE THIS TEXT WITH YOUR ANSWER.

## 4. Pollution in Madrid
The goal of this analysis (which we started in `worksheet_wrangling`) is to see if pollutants are decreasing (is air quality improving) and also determine which pollutant has decreased the most over the span of 5 years (2001 - 2006). In `worksheet_wrangling` we investigated what happened with the maximum values of each pollutant over time, now we will investigate the average values of each pollutant over time. To do this we will:

1. Calculate the average monthly value for each pollutant for each year. 
2. Create a scatter plot for the average monthly value for each month. Plot these values for each pollutant and each year so that a trend over time for each pollutant can be observed.
3. Now we will look at which pollutant decreased the most between 2001 - 2006 when we look at the average instead of the maximum values.

**Question 4.1** 
<br> {points: 3}

To begin working with this data, read the file `madrid_pollution.csv`. Note, this file (just like the other data sets in this tutorial) is found in the `tutorial_wrangling` directory. 

*Assign your answer to an object called `madrid`.*

In [ ]:
# your code here
fail() # No Answer - remove if you provide an answer
madrid

In [ ]:
# Most of the tests for this question are hidden. You have to decide whether you've created the right object. 
# Heres one test to at least ensure you named the object correctly:
library(digest)
stopifnot("type of exists('madrid') is not logical"= setequal(digest(paste(toString(class(exists('madrid'))), "2c5ca")), "395311acaf484e99a873ce3d44e29f8b"))
stopifnot("logical value of exists('madrid') is not correct"= setequal(digest(paste(toString(exists('madrid')), "2c5ca")), "902fd6db040b2d240a5df549b9cf21d8"))

print('Success!')

Given that we are going to plotting months, which are dates, let's tell R how they should be ordered. We can do this by changing the month column from a character vector to a factor vector. Factors in R are useful for categorical data and they have an order.

In [ ]:
# run this cell to order the column month by month (date) and not alphabetically
madrid <- madrid |> 
    mutate(month = factor(month, levels = c('January','February','March','April',
                                            'May','June','July','August',
                                            'September','October','November','December')))

**Question 4.2**
<br> {points: 3}

Calculate the average monthly value for each pollutant for each year and store that as a data frame. Your data frame should have the following 4 columns:

1. `year`
2. `month`
3. `pollutant`
4. `monthly_avg`

Name your data frame `madrid_avg`.

In [ ]:
madrid

In [ ]:
# your code here
fail() # No Answer - remove if you provide an answer

In [ ]:
## Most of the tests for this question are hidden. You have to decide whether you've created the right object. 
# Heres one test to at least ensure you named the object correctly:
library(digest)
stopifnot("type of exists('madrid_avg') is not logical"= setequal(digest(paste(toString(class(exists('madrid_avg'))), "45859")), "2a0309e62c9c0066c52a2d81c006d9c6"))
stopifnot("logical value of exists('madrid_avg') is not correct"= setequal(digest(paste(toString(exists('madrid_avg')), "45859")), "5ef7fc40535b6e80160a442eec069b90"))

stopifnot("type of nrow(madrid_avg) is not integer"= setequal(toString(class(nrow(madrid_avg))), "integer"))
stopifnot("length of nrow(madrid_avg) is not correct"= setequal(toString(length(nrow(madrid_avg))), "1"))
stopifnot("values of nrow(madrid_avg) are not correct"= setequal(toString(sort(nrow(madrid_avg))), "1008"))

print('Success!')

**Question 4.3**
<br> {points: 3}

Create a scatter plot for the average monthly value for each month using the `madrid_avg` data frame. Plot these values for each pollutant and each year so that a trend over time for each pollutant can be observed. To do this all in one plot, you are going to want to use a `facet_grid` layer (makes subplots within one plot when data are "related") and a `theme` layer (to adjust the angle of the text on the x-axis. We provide you with the code for these two layers in the scaffolding for this plot.

In [ ]:
options(repr.plot.width = 16, repr.plot.height = 18)
#pollutant_labels <- c(BEN = "Benzene \n(Î¼g/mÂ³)", 
#                    CO = "Carbon \nmonoxide \n(mg/mÂ³)", 
#                    EBE = "Ethylbenzene \n(Î¼g/mÂ³)",
#                    MXY = "M-xylene \n(Î¼g/mÂ³)", 
#                    NMHC = "Non-methane \nhydrocarbons \n(mg/mÂ³)",
#                    NO_2 = "Nitrogen \ndioxide \n(Î¼g/mÂ³)",
#                    NOx = "Nitrous \noxides \n(Î¼g/mÂ³)",
#                    O_3 = "Ozone \n(Î¼g/mÂ³)",
#                    OXY = "O-xylene \n(Î¼g/mÂ³)",
#                    PM10 = "Particles \nsmaller than 10 Î¼m",
#                    PXY = "P-xylene \n(Î¼g/mÂ³)",
#                    SO_2 = "Sulphur \ndioxide \n(Î¼g/mÂ³)",
#                    TCH = "Total \nhydrocarbons \n(mg/mÂ³)",
#                    TOL = "Toluene \n(Î¼g/mÂ³)")
#
#... <- ... |>
#    ggplot(aes(x = ..., y = ...)) + 
#    geom_point() +
#    xlab(...) + 
#    ylab(...) +
#    facet_grid(rows = vars(pollutant), cols = vars(year), scales = "free",
#               switch = "y", 
#               labeller = labeller(pollutant = pollutant_labels)) +
#    theme(axis.text.x = element_text(angle = 90, hjust = 1),
#         strip.text.y.left = element_text(angle = 0),
#         text = element_text(size = 20))

# your code here
fail() # No Answer - remove if you provide an answer
madrid_avg_plot

**Question 4.4**
<br> {points: 3}

By looking at the plots above, which monthly average pollutant levels appear to have decreased over time? Which appear to have increased?

DOUBLE CLICK TO EDIT **THIS CELL** AND REPLACE THIS TEXT WITH YOUR ANSWER.

**Question 4.5**
<br> {points: 3}

Now we will look at which pollutant decreased the most between 2001 - 2006 when we look at the average yearly values for each pollutant. Your final result should be a data frame that has two columns (pollutant and yearly_avg_diff) and one row (the most decreased pollutant when looking at yearly average between 2001 - 2006). Make sure to use the original `madrid` data frame in your solution.

*There are several different ways to solve this problem. My solution included using both `pivot_longer` and `pivot_wider`. See [here](https://ubc-dsci.github.io/introduction-to-datascience/wrangling.html#going-from-long-to-wide-using-pivot_wider) for more info.*

In [ ]:
# your code here
fail() # No Answer - remove if you provide an answer

**Question 4.6** 
<br> {points: 3}

Did using the average to find the most decreased pollutant between 2001 and 2006 give you the same answer as using the maximum in the worksheet? Is your answer to the previous question surprising? Explain.

DOUBLE CLICK TO EDIT **THIS CELL** AND REPLACE THIS TEXT WITH YOUR ANSWER.

**Optional Question** 
<br>(for fun and does not count for grades):

Consider doing the same analysis as you did for Question 4.5, except this time calculate the difference as a percent or fold difference (as opposed to absolute difference as we did in Question 4.5). The scales for the pollutants are very different, and so we might want to take this into consideration when trying to answer the question "Which pollutant decreased the most"?

In [ ]:
# Your optional answer goes here

In [ ]:
source("cleanup.R")